*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #368ff5;
}

h1{
  display: inline-block;
  color: white;
  font-weight: bold;
}

.boton{
  display: inline-block;
  width: 180px;
  height: 30px;
  background-color: #022144;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 12px;
}

.intro{
  display: flex;
  justify-content: space-around;
  height: 320px;
  background-color: #83b5ee;
  padding: 40px;
}

.intro__imagen{
  display: inline-block;
}

.intro__imagen > img{
  width: 300px;
  height: 320px;
  border-radius: 5px;
}

.intro__contenido{
  display: inline-block;
  margin-left: 30px;
  height: 400px;
}

.intro__contenido p{
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro__contenido span{
  display: inline-block;
  color: black;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 30px;
}

.contenido{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

.caja{
  display: inline-block;
  width: 300px;
  background-color: #78b2f5;
}

.caja__imagen{
  display: inline-block;
  width: 100%;
}

.caja__contenido{
  padding: 15px;
}

.caja__contenido h3{
  margin-bottom: 5px;
}

.caja__imagen > img{
  display: inline-block;
  width: 100%;
}

footer{
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #368ff5;
}