h1 {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.header--principal {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px 20px 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}
.header--principal .logo .logo--header {
  display: inline-block;
}
.header--principal .logo .logo--header img {
  width: 50px;
  height: 60px;
}

.nav--header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px;
}
.nav--header ul li {
  list-style: none;
  margin-right: 50px;
}
.nav--header ul a {
  color: #3f579a;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}

.header__busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-top: 35px;
}
.header__busqueda:hover {
  text-decoration: none;
}
.header__busqueda i {
  font-size: 20px;
  margin-right: 10px;
  color: #8841DA;
}
.header__busqueda span {
  color: #3f579a;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}

.footer--principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 160px;
  margin-top: 30px;
  padding: 0 20px 20px 20px;
  background-color: #333333;
}
.footer--principal .logo.logo--footer {
  display: inline-block;
}
.footer--principal .logo.logo--footer img {
  width: 50px;
  height: 60px;
}

.nav--footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
}
.nav--footer ul li {
  list-style: none;
  margin-right: 50px;
}
.nav--footer ul a {
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}

.nav--social {
  margin-left: auto;
}
.nav--social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
}
.nav--social li {
  list-style: none;
  margin-right: 50px;
  color: #ffffff;
}
.nav--social a {
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}