* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.perfil {
  width: 50%;
  padding-top: 50px;
  background-color: #8841DA;
  color: #ffffff;
}
.perfil__avatar {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.perfil__nombre, .perfil__minibio h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.perfil__titulo, .perfil__minibio h3 {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.perfil__boton {
  display: block;
  width: 100px;
  height: 40px;
  margin: 15px auto;
  padding-top: 8px;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  background-color: rgba(51, 51, 51, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.perfil__minibio {
  margin: 0 auto;
  padding-top: 20px;
}
.estadistica--perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 90px;
  margin: 30px auto;
  padding-top: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  -webkit-box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  color: #333333;
}
.estadistica--perfil h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #333333;
}
.estadistica--perfil span {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #333333;
  opacity: 75%;
}

.ubicacion--perfil {
  width: 50%;
  height: 90px;
  margin: 30px auto;
  padding: 20px 0 0 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  color: #333333;
}
.ubicacion--perfil i {
  display: block;
  float: left;
  padding-right: 10px;
  width: 50px;
  height: 50px;
  background-image: url("../images/maps-48.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ubicacion--perfil h2 {
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #333333;
}
.ubicacion--perfil h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(51, 51, 51, 0.5);
  margin-top: 5px;
}

.galeria {
  width: 50%;
  height: 250px;
  margin: 10px auto;
  padding: 20px 0 0 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 20px;
  -webkit-box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  color: #333333;
}
.galeria__foto-principal {
  float: left;
  margin-right: 10px;
}
.galeria__foto-principal img {
  width: 120px;
  height: 170px;
  border-radius: 5px;
}
.galeria__fotos-adicionales img {
  height: 70px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.galeria h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.galeria img {
  border-radius: 5px;
}