.estadistica--perfil{
  display:flex;
  width: 50%;
  height: 90px;
  margin: 30px auto;
  padding-top: 15px;
  justify-content: space-around;
  @include caja;

  h3{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    @include titulos($fuente2);
    color: $color-primario;
  }

  span{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    @include titulos($fuente2);
    color: $color-primario;
    opacity: 75%;
  }
}