$fuente1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fuente2: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$color-primario: #333333;
$color-claro: #ffffff;
$color-secundario: #8841DA;
$color-variacion: #3f579a;

@mixin caja{
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.50);
  background-color: $color-claro;
  color: $color-primario;
}

@mixin titulos($fuente){
  @if $fuente==$fuente1{
    font-family: $fuente1;
  }@else{
    font-family: $fuente2;
    text-transform: uppercase;
  }
}

@function get-opacity($color, $nivel){
  @return rgba($color, $nivel);
}

@each $header, $size in (h1: 30px, h2: 25px, h3: 20px){
  #{$header}{
    font-size: $size;
    margin: 0;
  }
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  @include titulos($fuente1);
}

main{
  display: flex;
  width: 100%;
  height: 100vh;
}