.perfil{
  width: 50%;
  padding-top: 50px;
  background-color: $color-secundario;
  color: $color-claro;

  &__avatar{
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__nombre{
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-family: $fuente2;
  }

  &__titulo{
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    color: get-opacity($color-claro, .50);
  }

  &__boton{
    display: block;
    width: 100px;
    height: 40px;
    margin: 15px auto;
    padding-top: 8px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: $fuente2;
    color: $color-claro;
    background-color: get-opacity($color-primario, .70);
    border: 2px solid get-opacity($color-claro, .70);
  }
}

.perfil__minibio{
  margin: 0 auto;
  padding-top: 20px;

  h2{
    @extend .perfil__nombre;
  }

  h3{
    @extend .perfil__titulo;
  }

}