.contenido
  margin-bottom: 40px
  justify-content: space-evenly
  contenedor()

.caja
  max-width: 430px
  margin: 10px
  caja-sombra()
  &__imagen
    img
      width: 100%
      height:250px
      background-size: cover
      background-position: center
      background-repeat: no-repeat
  &__contenido
    padding: 20px
    background-color: color-claro
    span
      titulos(fuente2)
      color: color-secundario
      margin-bottom: 5px
    h3
      titulos(fuente2)
      font-weight: normal
      margin-bottom: 10px
    p
