.contenido {
  margin-bottom: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.caja {
  max-width: 430px;
  margin: 10px;
}
.caja__imagen img {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.caja__contenido {
  padding: 20px;
  background-color: color-claro;
}
.caja__contenido span {
  text-transform: uppercase;
  color: color-secundario;
  font-family: fuente2;
  margin-bottom: 5px;
}
.caja__contenido h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-family: fuente2;
  margin-bottom: 10px;
}
