mixin caja(imagen, category, title, summary)
  .caja
    a(href="#", class="caja__imagen"): img(src="../images/"+imagen)
    .caja__contenido
      span.caja__categoria=category
      h3=title
      p=summary
    +estadistica

mixin estadistica
  .estadistica--articulos: ul
    li
      i #O
      span 275
    li
      i #0
      span 275
    li
      i #0
      span 12

doctype html
html
  head
    title Z-Gamez
    meta(charset="UTF-8")
    mega(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, maximum-scale=1.0 user-scalable=no")
    link(rel="stylesheet", href="../css/main.css")

