include head.pug
body
  .buscador: form: input(type="text" placeholder="Playstation" class="buscador__input")
  header.encabezado--con-filtros
    h2 20 Resultado para "Playstation"
    .filtros
      span Filtrar Por
      a(href="#") °
      a(href="#") O
  section.contenido
    +caja("im.jpg", "Video", "Apex Legends Temporada2: un nuevo trailer muestra los cambios al mapa","Los")
    +caja("im.jpg", "Video", "Ya salio la reseña de crash Team Racing Nitro Fueled","Veinte años")
    +caja("im.jpg", "Video", "Final fantasy XIV recibirá una serie live-action en televisión", "final")