extend componentes/plantilla.pug
block contenidos
  section.intro
    .intro__imagen: img(src="images/Z-Gamez.png")
    .intro__contenido
      h2=titulo
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio perspiciatis sit dolorum consectetur. Iste esse, corrupti tempore libero nobis maiores quos veniam. Sint, quo earum! Beatae, rerum! In, nihil! Aliquam!
      span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod saepe deserunt aspernatur impedit, porro tenetur molestiae sit quasi? Quas expedita, laboriosam ad ex optio id! Corrupti nemo porro adipisci vero!
      a.boton LEER MAS...

  main.contenido
    +caja('Z-Gamez.png',titulos[0],'Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque velit voluptates quod impedit atque, deserunt, laudantium rem nobis nostrum non doloribus a voluptatum expedita numquam aspernatur sunt fuga aperiam?')
    +caja('Z-Gamez.png',titulos[1],'Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque velit voluptates quod impedit atque, deserunt, laudantium rem nobis nostrum non doloribus a voluptatum expedita numquam aspernatur sunt fuga aperiam?')
    +caja('Z-Gamez.png',titulos[2],'Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque velit voluptates quod impedit atque, deserunt, laudantium rem nobis nostrum non doloribus a voluptatum expedita numquam aspernatur sunt fuga aperiam?')
