doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="../pug/css/main.css")
  body
    header
      h1 Z-GAMEZ
      a.boton REGISTRO
    section.intro
      .intro__imagen: img(src="../images/Z-Gamez.png")
      .intro__contenido
        h2 Título Principal
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio perspiciatis sit dolorum consectetur. Iste esse, corrupti tempore libero nobis maiores quos veniam. Sint, quo earum! Beatae, rerum! In, nihil! Aliquam!
        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod saepe deserunt aspernatur impedit, porro tenetur molestiae sit quasi? Quas expedita, laboriosam ad ex optio id! Corrupti nemo porro adipisci vero!
        a.boton LEER MAS...