html
  include head.pug
  body
    section.intro
      .intro__image: img(src="../images/ciberpunk.jpg")
      .intro__contenido
        span.intro__categoria Noticias
        h1.intro_titulo CyberPunk 2077 Tiene tres Prólogos Distintos
      .intro__autor
        img(src="../images/faceciberpunk.jpg")
        span.intro__autor-titulo Autor
        span.intro__autor-nombre Jonh Connor
    article.articulo--principal
      p.articulo--principal__intro En videogame 2077 los jugadores podrán selecionar entre tres historias del total.
      p Conversando con VG247, el diseñador Pawel Sasko explicó un sistema que CD Project RED llama "Lifepaths".
      p Uno de estos caminos de vida comienza en los Badlands, las áridas tierras que rodeas Night City.
      h3 Noticias, Fecha de lanzamiento y plataformas de cyberpunk 2077
      p En otras noticias, recientemente descubrimos que CD Project RED tiene planes de desarrollar tres juegos más de la Franquicia.
      p Cyberpunk 2077 se pondrá disponible el 16 de abril de 2020 y se lanzaŕa en versiones paa PC, PlayStation, Xbox, PSP, etc.
      h2 No te lo Pierdas
    section.contenedor--cajas
      +caja("a.jpg","Xbox","Saloi", "A una semana terminado el E3, Microsfoft anuncio que no abra demoras")
      +caja("c.jpg","PC","Bankia", "A una semana terminado el E3, Microsfoft anuncio que no abra demoras")
      +caja("e.jpg","PSP","Stux", "A una semana terminado el E3, Microsfoft anuncio que no abra demoras")