include head.pug
main
  section.perfil
    img(class="perfil__avatar" src="../images/faceciberpunk.jpg")
    h2.perfil__nombre Jonh Connor
    h3.perfil__titulo Developer Sr.
    a(href="#" class="perfil__boton") Seguir
    .estadistica--perfil
      +stats("12k","Seguidores")
      +stats("1.7k","Siguiendo")
      +stats("48k","Artículos")
    .perfil__minibio
      h2 Acerca de Mi
      h3 Developer Video Games
    .ubicacion--perfil
      i.fas.fa-map-marker-alt
      h2 Estados Unidos
      h3 225km Cerca
    .galeria
      h2 Mis Fotos
      .galeria__foto-principal: img(src="../images/b-person.jpg")
      .galeria__fotos-adicionales
        img(src="../images/b-blc.jpg" width="160px")
        img(src="../images/art.jpg")
        img(src="../images/b-blck.jpg")
  aside.articulos
    +article("PlayStation", "GTA VI: filtraciones que son bastante dudosas", "Recientemente se filtró en internet una importante cantidad de supuesta información sobre Grand Theft Auto VI (GTA) que nos ofrece una muy buena idea de lo que podemos esperar")
    +article("Switch", "Secuela de the legend of zelda: breath of the wild anunciada en el e3 2019", "Nintendo anunció la secuela de the legend of Zelda: Breath of the Wild en el E3 2019 y todos estamos más que emocionados con esto")
    +article("Xbox", "red dead online recibe actualización masiva y sale de beta","Rockstar lanzó el día de hoy la actualización más grande de red dead online desde que el componente online red dead redemption 2 se lanzó en novimbre.")
